<img src="/assets/img/start.png" class="fade-in mx-auto center" style="width: 80%; background-color: black;" alt="image" (click)="onClicImage()" *ngIf="onclicStar">
<img src="/assets/img/tortiGame.jpg" class="fade-in mx-auto center" style="width: 80%; background-color: black;" alt="image" *ngIf="showLogo" [ngClass]="isFadeOut === true ? 'fade-out' : ''">
<!-- <img src="/assets/img/tortiGameLogo.png" class="fade-in mx-auto center" style="width: 80%; background-color: black;" alt="image" *ngIf="showCanvas"> -->

<img src="/assets/img/nyn-cat.gif" class="fade-in mx-auto center" style="width: 50%; background-color: black;" alt="image" *ngIf="respuestaSi">
<img src="/assets/img/tenor.gif" class="fade-in mx-auto center" style="width: 80%; background-color: black;" alt="image" *ngIf="respuestaSi">
<img src="/assets/img/tenor2.gif" class="fade-in mx-auto center" style="width: 80%; background-color: black;" alt="image" *ngIf="respuestaSi">

<p align="center" class="mt-4">
    <canvas #canvasGame width="800" height="600"> Tu navegador no soporta</canvas>
</p>
<!-- <div class="row justify-content-center corazon-img " *ngFor="let item of corazones">
    <div class="col-4">
        <img src="/assets/img/life.png" class="rounded mx-auto d-block" width="20" height="20">
    </div>
</div> -->
<div class="d-flex justify-content-center" *ngIf="onPlay">
    <img src="/assets/img/life.png" class="img-fluid mr-2" width="40" *ngIf="corazones.length >= 1">
    <img src="/assets/img/life.png" class="img-fluid mr-2" width="40" *ngIf="corazones.length >= 2">
    <img src="/assets/img/life.png" class="img-fluid mr-2" width="40" *ngIf="corazones.length >= 3">
    <img src="/assets/img/life.png" class="img-fluid mr-2" width="40" *ngIf="corazones.length >= 4">
</div>


<!-- <ul class="nav" *ngFor="let item of corazones">
    <li><img src="/assets/img/life.png" class="rounded" width="20" height="20"></li>
</ul> -->
<div class="container" *ngIf="onPlay">
    <img src="/assets/img/down.png" class="rounded float-left" width="100" height="100" (click)="btnPressDown()">
    <img src="/assets/img/up.png" class="rounded float-right" width="100" height="100" (click)="btnPressUp()">
</div>